/* css fon */
@font-face {
  font-family: font1;
  src: url("font/Exo2-Medium.ttf");
}


body {
  margin: 0;
  padding: 0;
  font-family: font1;
}

.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
  background-color: #F2F2F2BF;
  box-shadow: 0 0 3px 0 #000;
  backdrop-filter: blur(3px);
}

.nav-logo {
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav-img {
  background-image: url("img/home-slider.gif");
  height: 250px;
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.main-box {
  text-align: center;
  height: 250px;
  width: 100%;
  background-color: #0000009E;
}

.btn-box {
  position: relative;
  top: 25%
}

.btn-box b {
  color: #fff;
  margin: 0;
  border-left: 4px solid #14a23a;
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.btn-box a {
  padding-right: 450px;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #14A23A;
  animation: r2 0.5s;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  text-decoration: none;
}

.title {
  height: 50px;
  width: 95%;
  box-shadow: 0 0 10px 0 #464646;
  border-radius: 100px 7px 100px 7px;
}

.title h2 {
  position: relative;
  top: 10px;
  color: #434343;
}

.r1 {
  animation: r1 0.5s;
  position: absolute;
  left: 10.5%;
}

.r2 {
  position: absolute;
  right: 0;
}

@keyframes r1 {
  0% {
    left: 0;
  }

  100% {
    left: 10.5%;
  }
}

@keyframes r2 {
  0% {
    padding-right: 0;
  }

  100% {
    padding-right: 450px;

  }
}


.grid-itm {
box-shadow: 0 0 5px 0 #232323;
  cursor: pointer;
  transition: all 0.3s;
  height: 300px;
  width: 210px;
  background-color: #fff;
  border-radius: 20px;
}
.grid-itm:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.grid-row {
  display: flex;
  justify-content: space-evenly;
}

::selection {
  background: #ffc5c5;
  color: #08FDFF;
}

.img-box {
  height: 50%;
  width: 100%;
  border-radius: 20px;
}

.img-box img {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  padding: 4px;
  padding-top: 10px;
}

.grid-row p {
  text-align: center;
  font-size: 20px;
}

.grid-itm a {
  transition: all 0.3s;
  background-color: #4680ff;
  padding-left: 20px;
  padding-right: 20px;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.grid-itm a:hover {
  background-color: #00FF1000;
  border: 2px solid #4680ff;
  color: #4680ff;
}
.foter{
  color: #fff;
 height: auto;
 background-color: #000751;
}
.had-box{
  color: #fff;
}
.had-box span{
  font-size: 32px;
  border-bottom: 3px solid #4680ff;
  transition: all 0.3s;
}
.had-box span:hover{
  border-bottom: 3px solid #FDFF46;
  
}
.link{
  cursor: pointer;
  transition: all 0.4s;
  font-size: 20px;
  padding: 10px;
}
.link:hover{
 border: 1px dotted #4680ff; 
 color: #FDFF46;
 border-radius: 100px;
}
.aboust{
  display: flex;
  justify-content: space-evenly;
  width: 330px;

}
.aboust div{
  font-size: 26px;
  display: flex;
  color: #4680ff;
 transition: all 0.6s;
}
.aboust div:hover{
  border-radius: 100px;
  color: #FDFF46;
  cursor: pointer;
  font-size: 28px;
 
  padding: 2px;
  box-shadow: 0 0 50px 0 #FDFF46;
}
.menu-div{
  font-size: 35px;
  color: #000;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  transition: all 0.4s;

}
.menu-div:hover{
  
  background-color: #4680ff;
color: #fff;
border-radius: 100px;
width: 43px;
padding-left: 7px;
}
.vv{
  display: block;
}
.none{
  display: none;
}
.menu{
  height: 100vh;
  width: 100%;
  background-color: #00000059;
  position: fixed;
  z-index: 101;
  backdrop-filter: blur(100px);
}
.rxlink-box{
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%,-50%);
}
.rxlink-box p{
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: all 0.8s;
  animation: text 0.9s;
}
@keyframes text {
  0%{
    font-size: 1px;
  }
  100%{
    font-size: auto;
  }
}
.rxlink-box p:hover{
  color: #ffd900;
  border: 1px solid #ffd900;
  border-radius: 100px;
  padding: 10px;
}
.rxlink-box p:active{
  color: #ffd900;
  background-color: #4680ff;
  border: 1px solid #ffd900;
  border-radius: 100px;
  padding: 10px;
}











/*======== css mobile =============*/




@media only screen and (max-width: 950px) {
  .rxlink-box p{
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.8s;
  }

  .r1 {
    animation: r1 0.5s;
    position: absolute;
    left: 33.5%;
  }

  .r2 {
    top: 80px;
    animation: r2 0.5s;
    position: absolute;
    right: 33.5%;
  }

  @keyframes r1 {
    0% {
      left: 0;
    }

    100% {
      left: 33.5%;
    }
  }

  @keyframes r2 {
    0% {
      right: 0;
    }

    100% {
      right: 33.5%;
    }
  }


  .btn-box a {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #14A23A;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    text-decoration: none;
  }


  .btn-box b {
    border-left: 4px solid #14A23A00;
    color: #fff;
    margin: 0;
    border-bottom: 4px solid #14a23a;
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .grid-itm {
    display: block;
    margin-bottom: 30px;
    height: 400px;
    width: 280px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .grid-row {
    height: auto;
    width: 100%;
    display: block;
    justify-content: none;
  }

  .had-box span{
  font-size: 25px;
}

}